body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: bold;

  height: 100vh;

  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;

  margin: 0;
  box-sizing: border-box;

  padding: {
    left: 1rem;
    right: 1rem;
    top: max(3rem, env(safe-area-inset-top));
    bottom: max(3rem, env(safe-area-inset-bottom));
  }

  background: url('../sprites/background.png') center / cover;
}

.container {
  position: relative;
  overflow: hidden;
  background-color: #475369;
}

.logo {
  width: calc(var(--board-columns, 7) * 2em);
  margin: 0 auto;
}
