@font-face {
  font-family: 'Ancient Modern Tales';
  src: url('../fonts/ancient-modern-tales.otf');
}

body {
  font-family: 'Ancient Modern Tales', sans-serif;

  height: 100vh;

  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  position: relative;

  margin: 0;
  box-sizing: border-box;

  padding: {
    left: 1rem;
    right: 1rem;
    top: max(3rem, env(safe-area-inset-top));
    bottom: max(3rem, env(safe-area-inset-bottom));
  }

  background: url('../sprites/background.png') center / cover;
}

.container {
  position: relative;
  overflow: hidden;

  // TODO: refactor
  box-shadow: 1px 1px 3px 0px #050505;
  border: 1.5px solid #6f83a1ab;
  border-radius: 1.5rem;
  padding: var(--container-padding, 0.5rem);
}

.container,
.statistics {
  // TODO: sync with splash screen
  transition: opacity 1s ease-in-out;
  background-color: var(--container-color, #475369);
  border: 1.5px solid #6f83a1ab;
  filter: opacity(0.75) brightness(1.1) saturate(1.1) contrast(1.1);
}
