.multiplier,
.game-over,
.level-up,
.cooking {
  z-index: 1;
  position: absolute;
  pointer-events: none;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: 0;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--accent-color);
  text-shadow: -4px 4px 4px #3a3a3a;
}

.multiplier,
.level-up {
  font-size: 10rem;
}

.multiplier {
  font-size: 16rem;
}

.game-over {
  cursor: pointer;
  font-size: 8rem;

  background-color: #34312f82;

  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.cooking {
  font-size: 2.5rem;
  background-color: var(--grid-color);
  background-image: url('../sprites/cauldron.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 35%;
}
