.statistics {
  top: 0;
  width: 100%;
  position: fixed;
  max-width: calc(var(--tile-size, 8em) * 8);

  padding: 1rem;

  color: var(--accent-color);

  font-size: 2rem;
  font-weight: bold;
  text-shadow: -2px 2px #19253d75;

  border: {
    bottom: {
      left: {
        radius: 1rem;
      }
      right: {
        radius: 1rem;
      }
    }
  }

  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;

    & > li {
      text-align: center;

      & > button {
        border: none;
        background: none;
        color: var(--accent-color);
      }
    }
  }

  // TODO: refactor, reuse statistics, but split them up and use different namings
  &.right {
    min-width: 8rem;
    width: auto;
    top: 50%;
    right: 0;
    border: {
      top: {
        left: {
          radius: 1rem;
        }
      }
      bottom: {
        left: {
          radius: 1rem;
        }
        right: {
          radius: 0;
        }
      }
    }

    & > ul {
      gap: 1rem;
      align-items: flex-start;
      flex-direction: column;
      & > li {
        cursor: pointer;
      }
    }
  }
}
