$transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

.tile {
  cursor: pointer;

  width: 1em;
  height: 1em;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  transition: left $transition, top $transition;

  text-shadow: -2px 4px 8px #525252;

  // TODO: extract into separate var
  // background: #475369;
  // border: 1px solid #273346;
  // border-radius: 4px;

  &::before,
  &::after {
    content: '';

    width: 1em;
    height: 1em;
    background-size: cover;
  }

  &::after {
    transition: background-image $transition;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAtJREFUGFdjYAACAAAFAAGq1chRAAAAAElFTkSuQmCC");
    position: absolute;
  }

  &.active::after {
    background-image: url('../sprites/active.png');
  }

  $tiles: (crystal, mushroom, pumpkin, skull, stone, hat, flask);

  @each $name in $tiles {
    &.#{$name}:before {
      background-image: url('../sprites/#{$name}.png');
    }
  }
}
