:root {
  --board-rows: 7;
  --board-columns: 8;

  --tile-size: min(
    calc((100vw - 2rem * 2) / var(--board-rows, 7)),
    calc((100vh - 6rem * 2) / var(--board-columns, 8))
  );

  --accent-color: #fcd53f;
  --secondary-color: #b5b3b4;

  --container-color: #475369;
  --grid-color: #273346;

  --container-padding: 0.5rem;
}
