.field {
  font-size: 60px;
  position: relative;
  background-color: darkslategrey;

  .tile {
    width: 1em;
    height: 1em;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &.active {
      border: 4px solid #43c4ba;
      border-radius: 4px;
    }

    cursor: pointer;

    $tiles: (
      candy: '🍬',
      lollypop: '🍭',
      chocolate: '🍫',
      poop: '💩',
      beacon: '🥩',
      dice: '🎲',
    );

    @each $name, $tile in $tiles {
      &.#{$name}:before {
        content: $tile;
        font-size: 0.7em;
      }
    }
  }
}
