.field {
  font-size: 60px;
  position: relative;
  background-color: darkslategrey;

  .tile {
    width: 1em;
    height: 1em;
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;

    $tiles: (
      candy: '🍬',
      lollypop: '🍭',
      chocolate: '🍫',
      poop: '💩',
      beacon: '🥩',
      dice: '🎲',
    );

    @each $name, $tile in $tiles {
      &.#{$name}:before {
        content: $tile;
        font-size: 0.7em;
      }
    }
  }
}
