body {
  height: 100vh;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);

  font-family: Comic Neue, cursive;

  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;

  gap: 2rem;

  box-sizing: border-box;

  margin: 0;
  padding: {
    left: 2rem;
    right: 2rem;
    top: max(3rem, env(safe-area-inset-top));
    bottom: max(3rem, env(safe-area-inset-bottom));
  }
}

.statistics {
  font-size: 2rem;
  color: darkslategrey;
  width: 100%;

  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
  }
}

.field-container {
  position: relative;

  .multiplier {
    position: absolute;
    pointer-events: none;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15rem;
    opacity: 0;

    color: #fcd53f;
    text-shadow: -4px 4px 4px #3a3a3a;
  }
}

.field {
  font-size: min(calc((100vw - 2rem * 2) / 8), calc((100vh - 3rem * 2) / 8));
  position: relative;
  border-radius: 1rem;
  background-color: rgb(47 79 79 / 60%);
  box-shadow: inset -4px 4px 18px 0px #4a4a4a;

  .tile {
    border-color: #98dab0;

    width: 1em;
    height: 1em;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    text-shadow: -2px 4px 8px #525252;

    &.active {
      border: 4px double #98dab0;
      border-radius: 12px;
    }

    cursor: pointer;

    $tiles: (
      candy: '🍬',
      lollypop: '🍭',
      chocolate: '🍫',
      poop: '💩',
      beacon: '🥩',
      dice: '🎲',
    );

    @each $name, $tile in $tiles {
      &.#{$name}:before {
        content: $tile;
        font-size: 0.7em;
      }
    }
  }
}
